<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@800&display=swap">
    <title>DJSupporter</title>
  </head>
  <body>
    <div class="background">
      <div><img class="ogp open" id="ogp" src="" alt=""></div>
      <div class="banner active"><span>NOW PLAYING</span></div>
      <div class="flex">
        <div><img class="artwork open" id="artwork" src="" alt=""></div>
        <div>
          <div class="title fade-in">TEST</div>
          <div class="artist fade-in">TEST</div>
          <div class="comment fade-in">TEST</div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    function checkSetting() {
      $.ajax({
        type: 'GET',
        url: '/setting',
        success: function(response) {
          if(response.setting == 'True'){
            updatePage();
          }
        }
      });
    }

    function updatePage() {
      $.ajax({
        type: 'GET',
        url: '/get_data',
        success: function(response) {
          $('.open').toggleClass('close');
          $('.fade-in').toggleClass('fade-out');
          $('.banner').addClass('active');

          // 取得したデータを使用してページを更新
          setTimeout(function() {updatePageContent(response);}, 2000);
        }
      });
    }

    function updatePageContent(response) {
      // 更新されたコンテンツを表示
      $('.title').html(response.title);
      $('.artist').html(response.artist);
      $('.comment').html(response.comment);
      $('.artwork').attr('src', response.artwork + '?' + new Date().getTime());
      $('.ogp').attr('src', response.ogp + '?' + new Date().getTime());

      $('.open').toggleClass('close');
      $('.fade-in').toggleClass('fade-out');
      $('.banner').removeClass('active');
    }

    // 1秒ごとにcheckSetting関数を呼び出す（適切な間隔を設定）
    setInterval(checkSetting, 1000);

    // 初回のページロード時にもcheckSetting関数を呼び出す
    $(document).ready(function() {
      checkSetting();
    });
  </script>
</html>