body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.flex {
  display: flex;
}

.banner {
  width: 190px;
  display: inline-block;
  padding: 0 5px;
  margin: 10px 0 0 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  /* border-radius: 5px; */
}

.banner span {
  white-space: nowrap;
  position: relative;
  color: #ffffff;
  z-index: 3;
}

.title {
  white-space: nowrap;
  font-size: 4.2rem;
  margin: -4px 0 0 0;
}

.artist {
  white-space: nowrap;
  font-size: 2.0rem;
  margin: -10px 0 0 0;
}

.comment {
  white-space: nowrap;
  font-size: 2.0rem;
  margin: 14px 0 0 0;
}

.artwork {
  background-color: #000000;
  margin: 0 30px 0 0;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.ogp {
  background-color: #000000;
  margin: 10px 0 0 0;
  width: 920px;
  height: 700px;
  overflow: hidden;
}

.banner {
  position: relative;
  background-color: #ff0000;
  color: #ffffff;
  &::before {
    content: ""; position: absolute; z-index: 1; top: 0%; right: 100%; bottom: 0%; left: 0%;
    background-color: #000000;
  }
  &.active {
    animation-name: banner_1;
    animation-duration: 0s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    &::before {
      animation-name: banner_2;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }
  }
}
@keyframes banner_1 {
  100%{
    color: inherit;
  }
}
@keyframes banner_2 {
  50%{
    left: 0%; right: 0%;
  }
  100%{
    left: 100%; right: 0%;
  }
}

.open_text {
  opacity : 1;
  transition: opacity 0.5s;
}

.open_text.view {
  opacity: 0;
}

.close_text {
  opacity : 0;
  transition: opacity 0.5s;
}

.close_text.view {
  opacity: 1;
}

.open_image {
  opacity : 1;
  transition: opacity 0.5s;
}

.open_image.view {
  opacity: 0;
}

.close_image {
  opacity : 0;
  transition: opacity 0.5s;
}

.close_image.view {
  opacity: 1;
}