* {
  margin: 0;
  padding: 0;
  user-select: none;
  overflow:hidden
}
.ogp-area {
  background-color: #000;
  width: 920px;
  height: 700px;
  margin: 20px 0 30px 20px;
  /* border: 2px solid #fff; */
}
.artwork-area {
  background-color: #000;
  width: 260px;
  height: 260px;
  margin: 0 40px 0 20px;
  border: 2px solid #ff0000;
}
.background {
  position: absolute;
  background-color: #000;
  width: 1920px;
  height: 1080px;
}
.ogp {
  position: relative;
  background-color: #000;
  width: 920px;
  height: 700px;
  /* margin: 20px 0 30px 20px; */
}
.banner {
  position: relative;
  background-color: #ff0000;
  width: 264px;
  height: 40px;
  margin: 0 20px;
  font-weight: bold;
  text-align: center;
}
.banner span {
  position: relative;
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  line-height: 40px;
}
.flex {
  display: flex;
}
.artwork {
  position: relative;
  background-color: #000;
  width: 260px;
  height: 260px;
  /* margin: 0 40px 0 20px; */
}
.title, .artist, .comment {
  font-family: 'Noto Sans JP', sans-serif;
  white-space: nowrap;
  color: #fff;
}
.title {
  position: relative;
  font-size: 4.4rem;
  margin: 0 0 0 0;
}
.artist {
  position: relative;
  font-size: 3.0rem;
  margin: -10px 0 0 4px;
}
.comment {
  position: relative;
  font-size: 3.0rem;
  margin: 20px 0 0 4px;
}

/* CSS Animation */
.banner {
  &::before {
    content: ""; position: absolute; z-index: 1; top: 0%; right: 100%; bottom: 0%; left: 0%;
    background-color: #000;
  }
  &.active {
    animation-duration: 0s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    &::before {
      animation-name: banner;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }
  }
}
@keyframes banner {
  0% {
    left: 0%; right: 0%;
  }
  100% {
    left: 100%; right: 0%;
  }
}

.fade-in {
  animation-name: fadein-bottom;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadein-bottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out {
  animation-name: fadeout-bottom;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadeout-bottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.open {
  opacity: 1;
  transition: opacity 0.5s;
}

.open.view {
  opacity: 0;
}

.close {
  opacity: 0;
  transition: opacity 0.5s;
}

.close.view {
  opacity: 1;
}